
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        
    <context:component-scan base-package="com.nokia.mp.testdatacenter"></context:component-scan>
    
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"  
        destroy-method="close">  
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
        <property name="url" value="jdbc:mysql://bjtftas01.china.nokia.com:3306/aol_reporting" />  
        <property name="username" value="aol" />  
        <property name="password" value="aol" />  
    </bean>
  
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource"/>  
        <property name="configLocation" value="classpath:mybatis-config.xml"/>  
    </bean> 
     
    
     <!-- mapper bean -->
      <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
       <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
      <property name="basePackage" value="com.nokia.mp.testdatacenter.dao" />
      <property name="sqlSessionFactory" ref="sqlSessionFactory"/>  
      </bean>
      
</beans>